@model IEnumerable<Pizza>
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в интернет-магазин "Bobo pizza"</h1>
    <p>Можете выбрать пиццу которая вам будет по душе - все они изготовлены из свежайших продуктов по уникальным рецептам!</p>
    @using (Html.BeginForm("Index", "Cart"))
    {
        @Html.Hidden("returnUrl", $"{@Context.Request.Path}{@Context.Request.QueryString}")
        <input class="btn btn-default" type="submit" value="Перейти в корзину" />
    }
</div>

@foreach (Pizza p in Model)
{ 
    <div class="row">
        <div class="col-md-4">
            <img src="~/content/@p.ImageName"/>
            <h2>@p.Name</h2>
            <hr/>
            <p>
                @p.Description
            </p>
            @using (Html.BeginForm("AddToCart", "Cart"))
            {
                @Html.Hidden("productId", p.PizzaId)
                @Html.Hidden("returnUrl", $"{@Context.Request.Path}{@Context.Request.QueryString}")
                <input class="btn btn-default" type="submit" value="+ Добавить в корзину" />
            }
            <br/>
        </div>

    </div>
}

